.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #eceff1;
}

.error404-box{
	display:flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: white;
	padding: 25px;
	width: 750px;
	height: 490px;
	border-radius:10px;
	box-shadow: 8px 8px 0 0 rgba(0,0,0,0.1);
}

.error404-box:hover{
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 8px 8px 0 0 rgba(0,0,0,0.5);
}

.error404-box h1{
	color: #7912eb;
	font-weight: bold;
}

.error404-box a {
	text-decoration: none;
}

.error404pics{
	height: 350px;
	width:250px;
	background-image: url('../img/404pics.jpg');
	background-repeat: no-repeat;
}

.error404-btn{
	width: 250px;
	padding: 3px 35px;
	background-color: #7912eb;
	color: white;
	border:2px solid #7912eb;
	margin-top: 55px;
	border-radius:25px;
	cursor: pointer;
	font-weight: bold;
	display:flex;
	justify-content: center;
}
.error404-btn:hover{
	background-color: white;
	color: #7912eb;
	border:2px solid #7912eb;
}

@media screen and (max-width:700px){
	.error404-box{
		margin-left: 25px;
		margin-right: 25px;
		width: 500px;
	}
}