.coursCard{
    width: 60%;
    background-color: white;
    height: auto;
    padding: 25px 40px;
    display: flex;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    margin-bottom: 15px;
}

.coursCard-left{
    width: 25%;
}

.coursCard-center{
    width: 52%;
}

.coursCard-center h2{
    font-family: 'Orbitron', sans-serif;
}

.coursCard-right{
    width: 22%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.column{
    flex-direction: column;
}

.imgCardSize{
    height: 185px;
    width: 235px;
    border: 2px solid rgba(0,0,0,0.2);
}