.progress-bar{
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 25px;
    border:1px solid #333;
}

.filler-html{
    background-image: linear-gradient(to top right, #42a5f5,#3f51b5) ;
    height: 100%;
    border-radius:inherit;
    transition: width .2s ease-in;
}