.signUpFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-right: 38%;
    margin-left: 38%;
    padding: 55px 35px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    background-color:white;
    font-family: 'Orbitron', sans-serif;
  }

  .signUpFormContainer input{
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left:5px;
      height: 25px;
      width:100%;
      border-style: none;
      border-bottom:2px solid #b9f6ca;
  }

  .signUpFormContainer button{
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 25px;
      width:100%;
      background-image: linear-gradient(to top right, #00e676,#00c853);
      color: white;
      font-weight:bold;
      border-style: none;
      cursor: pointer;
  }

  .MuiFormControl-root-77{
      width: 100%!important;
      border: none;
  }

  .MuiInput-underline-103:before{
      border: none!important;
  }

  .MuiInput-underline-103:after{
      border: none!important;
  }

  @media screen and (max-width: 960px){
      .signUpFormContainer{
          margin-right: 15%;
          margin-left: 15%;
        }
  }

