.background-bg {
  background-image: url("../img/bg-form.jpg");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
